<app-header [logOut]="logOut" [numberOfBoards]="numberOfBoards"></app-header>

<form ngForm class="newPasswordForm">
    <div class="input">
        <label for="email">Email</label>
        <input type="text" [(ngModel)]="email" id="email" required name="email">
    </div>

    <div class="input">
        <label for="newPassword">New password</label>
        <input type="password" [(ngModel)]="password" id="password" minlength="4" required name="password">
        <p class="small">Minimum length is 4 characters</p>
    </div>
    
    <button class="submitBtn" appHighlight (click)="onSubmitSetNewPassword()">Set new password</button>
</form>

<app-footer></app-footer>
