<div class="upper">
    <div>
        <h1>Dashboard</h1>
    </div>
    <div>
        <app-sorting (newSortingEvent)="changeSortingParams($event)"></app-sorting>
    </div>
</div>
<div class="boards">
    <div class="add-board">
        <button (click)="addNewBoard()">
            <p class="plus">+</p>
            <p class="text">Add new</p>
        </button>
    </div>

    <div class='board' *ngFor="let board of (boards | search: searchedBoardName)">
        <h3 [title]="board.name + ' details'">{{ board.name }}</h3>
        <p *ngIf="board.description">Description: {{ board.description }}</p>
        <p *ngIf="board.creationDate">Creation Date: {{ board.creationDate }}</p>
        <p *ngIf="board.numberOfTasks">Number of Tasks: {{ board.numberOfTasks }}</p>

        <div class="board_btn">
            <button type="button" routerLink="/board">Go To Board</button>
            <button type="button" (click)="editBoard()">Edit</button>
            <button type="button" (click)="deleteBoard(board)">Delete</button>
        </div>

        <div *ngIf="editCurrentBoard" class="editModal">
            <form *ngIf="editBoardForm" [formGroup]="editBoardForm" (ngSubmit)="onEdit(board)">
                <div>
                    <label class="newName" for="name">New board name</label>
                    <input id="name" type="text" formControlName="name">
                </div>
                <button class="btnSubmit" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

<div *ngIf="createNewBoard" class="form">
    <form *ngIf="addBoardForm" [formGroup]="addBoardForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="name">Board name</label>
            <input id="name" type="text" formControlName="name">
        </div>

        <div>
            <label for="description">Description</label>
            <textarea id="description" formControlName="description"></textarea>
        </div>

        <button class="button" type="submit">Submit</button>
    </form>
</div>