:host {
    font-family: Arial;
}

.red-violet-crayola {
    background-color: #af4d98;
}

.pastel-pink {
    background-color: #e5a9a9;
}

.magic-mint {
    background-color: #9df7e5;
}

.wild-orchid {
    background-color: #d66ba0;
}

.upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;

    h1 {
        margin-left: 20px;
    }

    .upperNav {
        width: 55%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

div.allTaskComments {
    width: 40%;
    margin: 10px auto;

    div.commentsHeader {
        background-color: lightgrey;
        padding-top: 5px;

        h2 {
            text-align: center;
        }

        .colors {
            padding: 0 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .dot {
                height: 25px;
                width: 25px;
                border-radius: 50%;
            }

            .red-violet-crayola {
                background-color: #af4d98;
            }

            .pastel-pink {
                background-color: #e5a9a9;
            }

            .magic-mint {
                background-color: #9df7e5;
            }

            .wild-orchid {
                background-color: #d66ba0;
            }
        }
    }

    div.commentsBlock {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;

        .commentItem {
            width: 90%;
            margin: 6px auto;
            border: 1px solid darkslategray;

            .addCommentBtn {
                width: 100%;
            }
        }

        .comment {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 4px auto;
            padding: 0 10px;
            height: 2.5rem;

            .commentIcons {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 30%;

                span {
                    margin: 0 3px;
                }
            }
        }

        .form {
            width: 90%;

            .addCommentForm,
            .editCommentForm {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin: 5px;
            }
        }
    }
}