<div class="upper">
    <div>
        <h1>Board</h1>
    </div>
    <div>
        <app-sorting (newEvent)="changeSortingParams($event)"></app-sorting>
    </div>
</div>

<div class="allTasks">
    <div class="todo">
        <div class="columnName">
            <h2>To Do</h2>
            <div class="colors">
                <p>Choose column color</p>
                <span class="dot red-violet-crayola" (click)="changeColumnColor()"></span>
                <span class="dot pastel-pink" (click)="changeColumnColor()"></span>
                <span class="dot dutch-white" (click)="changeColumnColor()"></span>
                <span class="dot wild-orchid" (click)="changeColumnColor()"></span>
            </div>
        </div>

        <div class="columnBlock">
            <div class="add-task taskItem">
                <button (click)="addNewTask()">
                    <p class="plus">+</p>
                </button>
            </div>

            <div *ngIf="createNewTask" class="form taskItem">
                <form *ngIf="addTaskForm" [formGroup]="addTaskForm" (ngSubmit)="onSubmit()">
                    <div>
                        <label for="name">Task name</label>
                        <input id="name" type="text" formControlName="name">
                    </div>
                    <button class="button" type="submit">Submit</button>
                </form>
            </div>

            <div class='task taskItem' *ngFor="let task of tasks">
                <h4 [title]="task.name + ' details'">{{ task.name }}</h4>
                <div class="taskIcons">
                    <fa-icon [icon]="faPenToSquare" (click)="editTask()"></fa-icon>
                    <fa-icon [icon]="faComment" (click)="addComment()"></fa-icon>
                    <fa-icon [icon]="faTrashCan" (click)="deleteTask()"></fa-icon>
                    <fa-icon [icon]="faBoxArchive" (click)="archiveTask()"></fa-icon>
                </div>
            </div>

            <div *ngIf="editCurrentTask" class="editModal">
                <form *ngIf="editTaskForm" [formGroup]="editTaskForm" (ngSubmit)="onEdit(task)">
                    <div>
                        <label class="newName" for="name">New task name</label>
                        <input id="name" type="text" formControlName="name">
                    </div>
                    <button class="btnSubmit" type="submit">Submit</button>
                </form>
            </div>

            <div *ngIf="addNewComment" class="commentModal">
                <form *ngIf="addNewCommentForm" [formGroup]="addCommentForm" (ngSubmit)="onAddComment(task)">
                    <div>
                        <label class="newName" for="name">New comment</label>
                        <input id="name" type="text" formControlName="name">
                    </div>
                    <button class="btnSubmit" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="inProgress">

</div>

<div class="done">

</div>