<div class="upper">
    <h1>ToDo App</h1>
</div>

<form ngForm class="loginForm">
    <div class="input">
        <label for="email">Email</label>
        <input type="text" [(ngModel)]="email" id="email" required name="email">
    </div>

    <div class="input">
        <label for="password">Password</label>
        <input type="password" [(ngModel)]="password" id="password" required name="password">
    </div>

    <div class="sbmBtn">
        <button class="submitBtn" (click)="onSubmitLogin()">Login</button>
        <button class="submitBtn" (click)="onSubmitRegister()">Register</button>
    </div>

    <button class="forgetPasswordBtn" (click)="onSubmitForgetPassword()">Forget password</button>
</form>